body {
    margin: 0;
    padding: 0;
    position: relative; /* Needed to position the pseudo-element absolutely */
    z-index: 1;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('/appImg/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* Adjust the opacity of the background image */
    z-index: -1; /* Ensure it sits behind other content */
  }
  
  body {
    color: black; /* Example text color, adjust as needed */
  }
  